<!DOCTYPE html>
<html>
<head>
  <title>JustMeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if session[:user_id] %>
      <% @user = User.find_by(id: session[:user_id]) %>
      <%= 'signed in: ' + @user.first_name %>

      <%= form_tag('/sessions', method: 'delete') do %>
        <%= submit_tag(:'Sign Out') %>
      <% end %>

    <% else %>
      <a href="/sessions/new">Log In</a>
      <a href="/users/new">Sign Up</a>
    <% end %>
  </nav>

  <h1>Just-Meat</h1>

<%= yield %>

</body>
</html>
