<!DOCTYPE html>
<html>
<head>
  <title>JustMeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1><a href="/">Just-Meat</a></h1>
    <% if current_user %>
      <%= 'signed in: ' + current_user.first_name %>

      <%= form_tag('/sessions', method: 'delete') do %>
        <%= submit_tag(:'Sign Out') %>
      <% end %>

    <% else %>
      <a href="/sessions/new">Log In</a>
      <a href="/users/new">Sign Up</a>
    <% end %>
  </nav>


<%= yield %>

</body>
</html>
